---
import { AstroFont } from 'astro-font'

type Props = {
  title: string
  description?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const ogImage = new URL('/og-img.png', Astro.url).href
const { title, description = 'Discover my personal links.' } = Astro.props
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>
  <AstroFont
    config={[
      {
        src: [],
        name: 'Space Mono',
        // Google Fonts URL
        googleFontsURL:
          'https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap',
        preload: true,
        display: 'swap',
        selector: 'body',
        fallback: 'monospace',
        cssVariable: 'font-family',
      },
    ]}
  />

  <!-- Open Graph -->
  <meta name="og:url" content={Astro.url.href} />
  <meta name="og:title" content={title} />
  <meta name="og:description" content={description} />
  <meta property="og:image" content={ogImage} />
  <!-- TODO og image -->

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@roblesdotdev" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImage} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />
</head>
